@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


@font-face {
  font-family: "dana";
  src:
    local("dana"),
    url("../public/fonts/Dana-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dana";
  src:
    local("dana Bold"),
    url("../public/fonts/Dana-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: dana;
}

/* 🟣 راست‌چین کامل ادیتور Quill */
.ql-container {
  direction: rtl !important;
  text-align: right !important;
}

.ql-editor {
  direction: rtl !important;
  text-align: right !important;
  line-height: 1.8 !important;
}

.ql-toolbar {
  direction: rtl !important;
  text-align: right !important;
}